.logo {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 26px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;;
}

.logo-wrapper {
    border: 2px solid #fff;
    border-radius: 15px;
    display: inline-block;
    padding: 15px;
}

#misc, #interactive-bar {
    padding-top: 30px;
    padding-bottom: 30px;
}

.masthead {
    background-image: linear-gradient(to bottom, #3c4f67 0, #398199 100%);
}

header, #flash-message, #generator {
    color: #fff;
}

#generator{
    padding-top: 70px;
    padding-bottom: 100px;
}

.preview {
    padding-top: 7px;
}
.preview .well {
    min-height: 132px;
    margin-top: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
}

#how-it-works {
    color: #fff;
}

.has-success .control-label, .has-error .control-label {
    color: #fff;
}

#interactive-bar {
    background-color: #f5f5f5;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;

    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}