{% extends "layout.html" %}
{% block body %}

<article id="generator">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form class="form-horizontal" id="icon-generate-form" role="form" action="">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>

                        <div class="col-sm-10">
                            <p class="form-control-static">Define your preferred icon type, size and color here</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="iconName" class="col-sm-2 control-label">Icon name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="iconName" placeholder="e.g. fa-home">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="iconSize" class="col-sm-2 control-label">Icon size</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="iconSize" placeholder="e.g. 32 for 32x32px"
                                   value="32">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="iconColor" class="col-sm-2 control-label">Icon color</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="iconColor" placeholder="Hexvalue e.g. #FA6900"
                                   value="FA6900">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-cogs"></i> Generate
                                icon
                            </button>

                            <a class="btn btn-success btn-lg hidden" id="download-helper" href="#" download="#"><i
                                    class="fa fa-cloud-download"></i> Download icon</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 preview">
                <p>Preview</p>

                <div class="well">
                    <i class="fa"></i>
                </div>
            </div>
        </div>
    </div>
</article>
<article id="misc">
    <div class="container">
        <h2>About</h2>

        <p>The Font Awesome to PNG online generator is a small web app returning Font Awesome icons as png. You can
            define the color and size of the icons and
            download them directly.</p>

        <h2>Credits</h2>
        <ul>
            <li>Font Awesome</li>
            <li>Github lib</li>
            <li>etc</li>
        </ul>
    </div>
</article>
{% endblock %}
