{% extends 'layout.html' %}

{% block body %}
    <article id="generator">
    <div class="container">
    <div class="row">
    <div class="col-md-8">
    <form class="form-horizontal" id="icon-generate-form" role="form" action="#" method="get">
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>

        <div class="col-sm-10">
            <p class="form-control-static">Define your preferred icon type, size and color here</p>
        </div>
    </div>
    <div class="form-group">
    <label for="iconName" class="col-sm-2 control-label">Icon Name</label>

    <div class="col-sm-10">
    <input type="text" class="form-control" id="iconName" list="iconNameList"
           placeholder="e.g. fa-paper-plane">
    <datalist id="iconNameList">
    <option value="glass">
    <option value="music">
    <option value="search">
    <option value="envelope-o">
    <option value="heart">
    <option value="star">
    <option value="star-o">
    <option value="user">
    <option value="film">
    <option value="th-large">
    <option value="th">
    <option value="th-list">
    <option value="check">
    <option value="times">
    <option value="search-plus">
    <option value="search-minus">
    <option value="power-off">
    <option value="signal">
    <option value="gear">
    <option value="cog">
    <option value="trash-o">
    <option value="home">
    <option value="file-o">
    <option value="clock-o">
    <option value="road">
    <option value="download">
    <option value="arrow-circle-o-down">
    <option value="arrow-circle-o-up">
    <option value="inbox">
    <option value="play-circle-o">
    <option value="rotate-right">
    <option value="repeat">
    <option value="refresh">
    <option value="list-alt">
    <option value="lock">
    <option value="flag">
    <option value="headphones">
    <option value="volume-off">
    <option value="volume-down">
    <option value="volume-up">
    <option value="qrcode">
    <option value="barcode">
    <option value="tag">
    <option value="tags">
    <option value="book">
    <option value="bookmark">
    <option value="print">
    <option value="camera">
    <option value="font">
    <option value="bold">
    <option value="italic">
    <option value="text-height">
    <option value="text-width">
    <option value="align-left">
    <option value="align-center">
    <option value="align-right">
    <option value="align-justify">
    <option value="list">
    <option value="dedent">
    <option value="outdent">
    <option value="indent">
    <option value="video-camera">
    <option value="photo">
    <option value="image">
    <option value="picture-o">
    <option value="pencil">
    <option value="map-marker">
    <option value="adjust">
    <option value="tint">
    <option value="edit">
    <option value="pencil-square-o">
    <option value="share-square-o">
    <option value="check-square-o">
    <option value="arrows">
    <option value="step-backward">
    <option value="fast-backward">
    <option value="backward">
    <option value="play">
    <option value="pause">
    <option value="stop">
    <option value="forward">
    <option value="fast-forward">
    <option value="step-forward">
    <option value="eject">
    <option value="chevron-left">
    <option value="chevron-right">
    <option value="plus-circle">
    <option value="minus-circle">
    <option value="times-circle">
    <option value="check-circle">
    <option value="question-circle">
    <option value="info-circle">
    <option value="crosshairs">
    <option value="times-circle-o">
    <option value="check-circle-o">
    <option value="ban">
    <option value="arrow-left">
    <option value="arrow-right">
    <option value="arrow-up">
    <option value="arrow-down">
    <option value="mail-forward">
    <option value="share">
    <option value="expand">
    <option value="compress">
    <option value="plus">
    <option value="minus">
    <option value="asterisk">
    <option value="exclamation-circle">
    <option value="gift">
    <option value="leaf">
    <option value="fire">
    <option value="eye">
    <option value="eye-slash">
    <option value="warning">
    <option value="exclamation-triangle">
    <option value="plane">
    <option value="calendar">
    <option value="random">
    <option value="comment">
    <option value="magnet">
    <option value="chevron-up">
    <option value="chevron-down">
    <option value="retweet">
    <option value="shopping-cart">
    <option value="folder">
    <option value="folder-open">
    <option value="arrows-v">
    <option value="arrows-h">
    <option value="bar-chart-o">
    <option value="twitter-square">
    <option value="facebook-square">
    <option value="camera-retro">
    <option value="key">
    <option value="gears">
    <option value="cogs">
    <option value="comments">
    <option value="thumbs-o-up">
    <option value="thumbs-o-down">
    <option value="star-half">
    <option value="heart-o">
    <option value="sign-out">
    <option value="linkedin-square">
    <option value="thumb-tack">
    <option value="external-link">
    <option value="sign-in">
    <option value="trophy">
    <option value="github-square">
    <option value="upload">
    <option value="lemon-o">
    <option value="phone">
    <option value="square-o">
    <option value="bookmark-o">
    <option value="phone-square">
    <option value="twitter">
    <option value="facebook">
    <option value="github">
    <option value="unlock">
    <option value="credit-card">
    <option value="rss">
    <option value="hdd-o">
    <option value="bullhorn">
    <option value="bell">
    <option value="certificate">
    <option value="hand-o-right">
    <option value="hand-o-left">
    <option value="hand-o-up">
    <option value="hand-o-down">
    <option value="arrow-circle-left">
    <option value="arrow-circle-right">
    <option value="arrow-circle-up">
    <option value="arrow-circle-down">
    <option value="globe">
    <option value="wrench">
    <option value="tasks">
    <option value="filter">
    <option value="briefcase">
    <option value="arrows-alt">
    <option value="group">
    <option value="users">
    <option value="chain">
    <option value="link">
    <option value="cloud">
    <option value="flask">
    <option value="cut">
    <option value="scissors">
    <option value="copy">
    <option value="files-o">
    <option value="paperclip">
    <option value="save">
    <option value="floppy-o">
    <option value="square">
    <option value="navicon">
    <option value="reorder">
    <option value="bars">
    <option value="list-ul">
    <option value="list-ol">
    <option value="strikethrough">
    <option value="underline">
    <option value="table">
    <option value="magic">
    <option value="truck">
    <option value="pinterest">
    <option value="pinterest-square">
    <option value="google-plus-square">
    <option value="google-plus">
    <option value="money">
    <option value="caret-down">
    <option value="caret-up">
    <option value="caret-left">
    <option value="caret-right">
    <option value="columns">
    <option value="unsorted">
    <option value="sort">
    <option value="sort-down">
    <option value="sort-desc">
    <option value="sort-up">
    <option value="sort-asc">
    <option value="envelope">
    <option value="linkedin">
    <option value="rotate-left">
    <option value="undo">
    <option value="legal">
    <option value="gavel">
    <option value="dashboard">
    <option value="tachometer">
    <option value="comment-o">
    <option value="comments-o">
    <option value="flash">
    <option value="bolt">
    <option value="sitemap">
    <option value="umbrella">
    <option value="paste">
    <option value="clipboard">
    <option value="lightbulb-o">
    <option value="exchange">
    <option value="cloud-download">
    <option value="cloud-upload">
    <option value="user-md">
    <option value="stethoscope">
    <option value="suitcase">
    <option value="bell-o">
    <option value="coffee">
    <option value="cutlery">
    <option value="file-text-o">
    <option value="building-o">
    <option value="hospital-o">
    <option value="ambulance">
    <option value="medkit">
    <option value="fighter-jet">
    <option value="beer">
    <option value="h-square">
    <option value="plus-square">
    <option value="angle-double-left">
    <option value="angle-double-right">
    <option value="angle-double-up">
    <option value="angle-double-down">
    <option value="angle-left">
    <option value="angle-right">
    <option value="angle-up">
    <option value="angle-down">
    <option value="desktop">
    <option value="laptop">
    <option value="tablet">
    <option value="mobile-phone">
    <option value="mobile">
    <option value="circle-o">
    <option value="quote-left">
    <option value="quote-right">
    <option value="spinner">
    <option value="circle">
    <option value="mail-reply">
    <option value="reply">
    <option value="github-alt">
    <option value="folder-o">
    <option value="folder-open-o">
    <option value="smile-o">
    <option value="frown-o">
    <option value="meh-o">
    <option value="gamepad">
    <option value="keyboard-o">
    <option value="flag-o">
    <option value="flag-checkered">
    <option value="terminal">
    <option value="code">
    <option value="mail-reply-all">
    <option value="reply-all">
    <option value="star-half-empty">
    <option value="star-half-full">
    <option value="star-half-o">
    <option value="location-arrow">
    <option value="crop">
    <option value="code-fork">
    <option value="unlink">
    <option value="chain-broken">
    <option value="question">
    <option value="info">
    <option value="exclamation">
    <option value="superscript">
    <option value="subscript">
    <option value="eraser">
    <option value="puzzle-piece">
    <option value="microphone">
    <option value="microphone-slash">
    <option value="shield">
    <option value="calendar-o">
    <option value="fire-extinguisher">
    <option value="rocket">
    <option value="maxcdn">
    <option value="chevron-circle-left">
    <option value="chevron-circle-right">
    <option value="chevron-circle-up">
    <option value="chevron-circle-down">
    <option value="html5">
    <option value="css3">
    <option value="anchor">
    <option value="unlock-alt">
    <option value="bullseye">
    <option value="ellipsis-h">
    <option value="ellipsis-v">
    <option value="rss-square">
    <option value="play-circle">
    <option value="ticket">
    <option value="minus-square">
    <option value="minus-square-o">
    <option value="level-up">
    <option value="level-down">
    <option value="check-square">
    <option value="pencil-square">
    <option value="external-link-square">
    <option value="share-square">
    <option value="compass">
    <option value="toggle-down">
    <option value="caret-square-o-down">
    <option value="toggle-up">
    <option value="caret-square-o-up">
    <option value="toggle-right">
    <option value="caret-square-o-right">
    <option value="euro">
    <option value="eur">
    <option value="gbp">
    <option value="dollar">
    <option value="usd">
    <option value="rupee">
    <option value="inr">
    <option value="cny">
    <option value="rmb">
    <option value="yen">
    <option value="jpy">
    <option value="ruble">
    <option value="rouble">
    <option value="rub">
    <option value="won">
    <option value="krw">
    <option value="bitcoin">
    <option value="btc">
    <option value="file">
    <option value="file-text">
    <option value="sort-alpha-asc">
    <option value="sort-alpha-desc">
    <option value="sort-amount-asc">
    <option value="sort-amount-desc">
    <option value="sort-numeric-asc">
    <option value="sort-numeric-desc">
    <option value="thumbs-up">
    <option value="thumbs-down">
    <option value="youtube-square">
    <option value="youtube">
    <option value="xing">
    <option value="xing-square">
    <option value="youtube-play">
    <option value="dropbox">
    <option value="stack-overflow">
    <option value="instagram">
    <option value="flickr">
    <option value="adn">
    <option value="bitbucket">
    <option value="bitbucket-square">
    <option value="tumblr">
    <option value="tumblr-square">
    <option value="long-arrow-down">
    <option value="long-arrow-up">
    <option value="long-arrow-left">
    <option value="long-arrow-right">
    <option value="apple">
    <option value="windows">
    <option value="android">
    <option value="linux">
    <option value="dribbble">
    <option value="skype">
    <option value="foursquare">
    <option value="trello">
    <option value="female">
    <option value="male">
    <option value="gittip">
    <option value="sun-o">
    <option value="moon-o">
    <option value="archive">
    <option value="bug">
    <option value="vk">
    <option value="weibo">
    <option value="renren">
    <option value="pagelines">
    <option value="stack-exchange">
    <option value="arrow-circle-o-right">
    <option value="arrow-circle-o-left">
    <option value="toggle-left">
    <option value="caret-square-o-left">
    <option value="dot-circle-o">
    <option value="wheelchair">
    <option value="vimeo-square">
    <option value="turkish-lira">
    <option value="try">
    <option value="plus-square-o">
    <option value="space-shuttle">
    <option value="slack">
    <option value="envelope-square">
    <option value="wordpress">
    <option value="openid">
    <option value="institution">
    <option value="bank">
    <option value="university">
    <option value="mortar-board">
    <option value="graduation-cap">
    <option value="yahoo">
    <option value="google">
    <option value="reddit">
    <option value="reddit-square">
    <option value="stumbleupon-circle">
    <option value="stumbleupon">
    <option value="delicious">
    <option value="digg">
    <option value="pied-piper-square">
    <option value="pied-piper">
    <option value="pied-piper-alt">
    <option value="drupal">
    <option value="joomla">
    <option value="language">
    <option value="fax">
    <option value="building">
    <option value="child">
    <option value="paw">
    <option value="spoon">
    <option value="cube">
    <option value="cubes">
    <option value="behance">
    <option value="behance-square">
    <option value="steam">
    <option value="steam-square">
    <option value="recycle">
    <option value="automobile">
    <option value="car">
    <option value="cab">
    <option value="taxi">
    <option value="tree">
    <option value="spotify">
    <option value="deviantart">
    <option value="soundcloud">
    <option value="database">
    <option value="file-pdf-o">
    <option value="file-word-o">
    <option value="file-excel-o">
    <option value="file-powerpoint-o">
    <option value="file-photo-o">
    <option value="file-picture-o">
    <option value="file-image-o">
    <option value="file-zip-o">
    <option value="file-archive-o">
    <option value="file-sound-o">
    <option value="file-audio-o">
    <option value="file-movie-o">
    <option value="file-video-o">
    <option value="file-code-o">
    <option value="vine">
    <option value="codepen">
    <option value="jsfiddle">
    <option value="life-bouy">
    <option value="life-saver">
    <option value="support">
    <option value="life-ring">
    <option value="circle-o-notch">
    <option value="ra">
    <option value="rebel">
    <option value="ge">
    <option value="empire">
    <option value="git-square">
    <option value="git">
    <option value="hacker-news">
    <option value="tencent-weibo">
    <option value="qq">
    <option value="wechat">
    <option value="weixin">
    <option value="send">
    <option value="paper-plane">
    <option value="send-o">
    <option value="paper-plane-o">
    <option value="history">
    <option value="circle-thin">
    <option value="header">
    <option value="paragraph">
    <option value="sliders">
    <option value="share-alt">
    <option value="share-alt-square">
    <option value="bomb">
    <option value="fa-glass">
    <option value="fa-music">
    <option value="fa-search">
    <option value="fa-envelope-o">
    <option value="fa-heart">
    <option value="fa-star">
    <option value="fa-star-o">
    <option value="fa-user">
    <option value="fa-film">
    <option value="fa-th-large">
    <option value="fa-th">
    <option value="fa-th-list">
    <option value="fa-check">
    <option value="fa-times">
    <option value="fa-search-plus">
    <option value="fa-search-minus">
    <option value="fa-power-off">
    <option value="fa-signal">
    <option value="fa-gear">
    <option value="fa-cog">
    <option value="fa-trash-o">
    <option value="fa-home">
    <option value="fa-file-o">
    <option value="fa-clock-o">
    <option value="fa-road">
    <option value="fa-download">
    <option value="fa-arrow-circle-o-down">
    <option value="fa-arrow-circle-o-up">
    <option value="fa-inbox">
    <option value="fa-play-circle-o">
    <option value="fa-rotate-right">
    <option value="fa-repeat">
    <option value="fa-refresh">
    <option value="fa-list-alt">
    <option value="fa-lock">
    <option value="fa-flag">
    <option value="fa-headphones">
    <option value="fa-volume-off">
    <option value="fa-volume-down">
    <option value="fa-volume-up">
    <option value="fa-qrcode">
    <option value="fa-barcode">
    <option value="fa-tag">
    <option value="fa-tags">
    <option value="fa-book">
    <option value="fa-bookmark">
    <option value="fa-print">
    <option value="fa-camera">
    <option value="fa-font">
    <option value="fa-bold">
    <option value="fa-italic">
    <option value="fa-text-height">
    <option value="fa-text-width">
    <option value="fa-align-left">
    <option value="fa-align-center">
    <option value="fa-align-right">
    <option value="fa-align-justify">
    <option value="fa-list">
    <option value="fa-dedent">
    <option value="fa-outdent">
    <option value="fa-indent">
    <option value="fa-video-camera">
    <option value="fa-photo">
    <option value="fa-image">
    <option value="fa-picture-o">
    <option value="fa-pencil">
    <option value="fa-map-marker">
    <option value="fa-adjust">
    <option value="fa-tint">
    <option value="fa-edit">
    <option value="fa-pencil-square-o">
    <option value="fa-share-square-o">
    <option value="fa-check-square-o">
    <option value="fa-arrows">
    <option value="fa-step-backward">
    <option value="fa-fast-backward">
    <option value="fa-backward">
    <option value="fa-play">
    <option value="fa-pause">
    <option value="fa-stop">
    <option value="fa-forward">
    <option value="fa-fast-forward">
    <option value="fa-step-forward">
    <option value="fa-eject">
    <option value="fa-chevron-left">
    <option value="fa-chevron-right">
    <option value="fa-plus-circle">
    <option value="fa-minus-circle">
    <option value="fa-times-circle">
    <option value="fa-check-circle">
    <option value="fa-question-circle">
    <option value="fa-info-circle">
    <option value="fa-crosshairs">
    <option value="fa-times-circle-o">
    <option value="fa-check-circle-o">
    <option value="fa-ban">
    <option value="fa-arrow-left">
    <option value="fa-arrow-right">
    <option value="fa-arrow-up">
    <option value="fa-arrow-down">
    <option value="fa-mail-forward">
    <option value="fa-share">
    <option value="fa-expand">
    <option value="fa-compress">
    <option value="fa-plus">
    <option value="fa-minus">
    <option value="fa-asterisk">
    <option value="fa-exclamation-circle">
    <option value="fa-gift">
    <option value="fa-leaf">
    <option value="fa-fire">
    <option value="fa-eye">
    <option value="fa-eye-slash">
    <option value="fa-warning">
    <option value="fa-exclamation-triangle">
    <option value="fa-plane">
    <option value="fa-calendar">
    <option value="fa-random">
    <option value="fa-comment">
    <option value="fa-magnet">
    <option value="fa-chevron-up">
    <option value="fa-chevron-down">
    <option value="fa-retweet">
    <option value="fa-shopping-cart">
    <option value="fa-folder">
    <option value="fa-folder-open">
    <option value="fa-arrows-v">
    <option value="fa-arrows-h">
    <option value="fa-bar-chart-o">
    <option value="fa-twitter-square">
    <option value="fa-facebook-square">
    <option value="fa-camera-retro">
    <option value="fa-key">
    <option value="fa-gears">
    <option value="fa-cogs">
    <option value="fa-comments">
    <option value="fa-thumbs-o-up">
    <option value="fa-thumbs-o-down">
    <option value="fa-star-half">
    <option value="fa-heart-o">
    <option value="fa-sign-out">
    <option value="fa-linkedin-square">
    <option value="fa-thumb-tack">
    <option value="fa-external-link">
    <option value="fa-sign-in">
    <option value="fa-trophy">
    <option value="fa-github-square">
    <option value="fa-upload">
    <option value="fa-lemon-o">
    <option value="fa-phone">
    <option value="fa-square-o">
    <option value="fa-bookmark-o">
    <option value="fa-phone-square">
    <option value="fa-twitter">
    <option value="fa-facebook">
    <option value="fa-github">
    <option value="fa-unlock">
    <option value="fa-credit-card">
    <option value="fa-rss">
    <option value="fa-hdd-o">
    <option value="fa-bullhorn">
    <option value="fa-bell">
    <option value="fa-certificate">
    <option value="fa-hand-o-right">
    <option value="fa-hand-o-left">
    <option value="fa-hand-o-up">
    <option value="fa-hand-o-down">
    <option value="fa-arrow-circle-left">
    <option value="fa-arrow-circle-right">
    <option value="fa-arrow-circle-up">
    <option value="fa-arrow-circle-down">
    <option value="fa-globe">
    <option value="fa-wrench">
    <option value="fa-tasks">
    <option value="fa-filter">
    <option value="fa-briefcase">
    <option value="fa-arrows-alt">
    <option value="fa-group">
    <option value="fa-users">
    <option value="fa-chain">
    <option value="fa-link">
    <option value="fa-cloud">
    <option value="fa-flask">
    <option value="fa-cut">
    <option value="fa-scissors">
    <option value="fa-copy">
    <option value="fa-files-o">
    <option value="fa-paperclip">
    <option value="fa-save">
    <option value="fa-floppy-o">
    <option value="fa-square">
    <option value="fa-navicon">
    <option value="fa-reorder">
    <option value="fa-bars">
    <option value="fa-list-ul">
    <option value="fa-list-ol">
    <option value="fa-strikethrough">
    <option value="fa-underline">
    <option value="fa-table">
    <option value="fa-magic">
    <option value="fa-truck">
    <option value="fa-pinterest">
    <option value="fa-pinterest-square">
    <option value="fa-google-plus-square">
    <option value="fa-google-plus">
    <option value="fa-money">
    <option value="fa-caret-down">
    <option value="fa-caret-up">
    <option value="fa-caret-left">
    <option value="fa-caret-right">
    <option value="fa-columns">
    <option value="fa-unsorted">
    <option value="fa-sort">
    <option value="fa-sort-down">
    <option value="fa-sort-desc">
    <option value="fa-sort-up">
    <option value="fa-sort-asc">
    <option value="fa-envelope">
    <option value="fa-linkedin">
    <option value="fa-rotate-left">
    <option value="fa-undo">
    <option value="fa-legal">
    <option value="fa-gavel">
    <option value="fa-dashboard">
    <option value="fa-tachometer">
    <option value="fa-comment-o">
    <option value="fa-comments-o">
    <option value="fa-flash">
    <option value="fa-bolt">
    <option value="fa-sitemap">
    <option value="fa-umbrella">
    <option value="fa-paste">
    <option value="fa-clipboard">
    <option value="fa-lightbulb-o">
    <option value="fa-exchange">
    <option value="fa-cloud-download">
    <option value="fa-cloud-upload">
    <option value="fa-user-md">
    <option value="fa-stethoscope">
    <option value="fa-suitcase">
    <option value="fa-bell-o">
    <option value="fa-coffee">
    <option value="fa-cutlery">
    <option value="fa-file-text-o">
    <option value="fa-building-o">
    <option value="fa-hospital-o">
    <option value="fa-ambulance">
    <option value="fa-medkit">
    <option value="fa-fighter-jet">
    <option value="fa-beer">
    <option value="fa-h-square">
    <option value="fa-plus-square">
    <option value="fa-angle-double-left">
    <option value="fa-angle-double-right">
    <option value="fa-angle-double-up">
    <option value="fa-angle-double-down">
    <option value="fa-angle-left">
    <option value="fa-angle-right">
    <option value="fa-angle-up">
    <option value="fa-angle-down">
    <option value="fa-desktop">
    <option value="fa-laptop">
    <option value="fa-tablet">
    <option value="fa-mobile-phone">
    <option value="fa-mobile">
    <option value="fa-circle-o">
    <option value="fa-quote-left">
    <option value="fa-quote-right">
    <option value="fa-spinner">
    <option value="fa-circle">
    <option value="fa-mail-reply">
    <option value="fa-reply">
    <option value="fa-github-alt">
    <option value="fa-folder-o">
    <option value="fa-folder-open-o">
    <option value="fa-smile-o">
    <option value="fa-frown-o">
    <option value="fa-meh-o">
    <option value="fa-gamepad">
    <option value="fa-keyboard-o">
    <option value="fa-flag-o">
    <option value="fa-flag-checkered">
    <option value="fa-terminal">
    <option value="fa-code">
    <option value="fa-mail-reply-all">
    <option value="fa-reply-all">
    <option value="fa-star-half-empty">
    <option value="fa-star-half-full">
    <option value="fa-star-half-o">
    <option value="fa-location-arrow">
    <option value="fa-crop">
    <option value="fa-code-fork">
    <option value="fa-unlink">
    <option value="fa-chain-broken">
    <option value="fa-question">
    <option value="fa-info">
    <option value="fa-exclamation">
    <option value="fa-superscript">
    <option value="fa-subscript">
    <option value="fa-eraser">
    <option value="fa-puzzle-piece">
    <option value="fa-microphone">
    <option value="fa-microphone-slash">
    <option value="fa-shield">
    <option value="fa-calendar-o">
    <option value="fa-fire-extinguisher">
    <option value="fa-rocket">
    <option value="fa-maxcdn">
    <option value="fa-chevron-circle-left">
    <option value="fa-chevron-circle-right">
    <option value="fa-chevron-circle-up">
    <option value="fa-chevron-circle-down">
    <option value="fa-html5">
    <option value="fa-css3">
    <option value="fa-anchor">
    <option value="fa-unlock-alt">
    <option value="fa-bullseye">
    <option value="fa-ellipsis-h">
    <option value="fa-ellipsis-v">
    <option value="fa-rss-square">
    <option value="fa-play-circle">
    <option value="fa-ticket">
    <option value="fa-minus-square">
    <option value="fa-minus-square-o">
    <option value="fa-level-up">
    <option value="fa-level-down">
    <option value="fa-check-square">
    <option value="fa-pencil-square">
    <option value="fa-external-link-square">
    <option value="fa-share-square">
    <option value="fa-compass">
    <option value="fa-toggle-down">
    <option value="fa-caret-square-o-down">
    <option value="fa-toggle-up">
    <option value="fa-caret-square-o-up">
    <option value="fa-toggle-right">
    <option value="fa-caret-square-o-right">
    <option value="fa-euro">
    <option value="fa-eur">
    <option value="fa-gbp">
    <option value="fa-dollar">
    <option value="fa-usd">
    <option value="fa-rupee">
    <option value="fa-inr">
    <option value="fa-cny">
    <option value="fa-rmb">
    <option value="fa-yen">
    <option value="fa-jpy">
    <option value="fa-ruble">
    <option value="fa-rouble">
    <option value="fa-rub">
    <option value="fa-won">
    <option value="fa-krw">
    <option value="fa-bitcoin">
    <option value="fa-btc">
    <option value="fa-file">
    <option value="fa-file-text">
    <option value="fa-sort-alpha-asc">
    <option value="fa-sort-alpha-desc">
    <option value="fa-sort-amount-asc">
    <option value="fa-sort-amount-desc">
    <option value="fa-sort-numeric-asc">
    <option value="fa-sort-numeric-desc">
    <option value="fa-thumbs-up">
    <option value="fa-thumbs-down">
    <option value="fa-youtube-square">
    <option value="fa-youtube">
    <option value="fa-xing">
    <option value="fa-xing-square">
    <option value="fa-youtube-play">
    <option value="fa-dropbox">
    <option value="fa-stack-overflow">
    <option value="fa-instagram">
    <option value="fa-flickr">
    <option value="fa-adn">
    <option value="fa-bitbucket">
    <option value="fa-bitbucket-square">
    <option value="fa-tumblr">
    <option value="fa-tumblr-square">
    <option value="fa-long-arrow-down">
    <option value="fa-long-arrow-up">
    <option value="fa-long-arrow-left">
    <option value="fa-long-arrow-right">
    <option value="fa-apple">
    <option value="fa-windows">
    <option value="fa-android">
    <option value="fa-linux">
    <option value="fa-dribbble">
    <option value="fa-skype">
    <option value="fa-foursquare">
    <option value="fa-trello">
    <option value="fa-female">
    <option value="fa-male">
    <option value="fa-gittip">
    <option value="fa-sun-o">
    <option value="fa-moon-o">
    <option value="fa-archive">
    <option value="fa-bug">
    <option value="fa-vk">
    <option value="fa-weibo">
    <option value="fa-renren">
    <option value="fa-pagelines">
    <option value="fa-stack-exchange">
    <option value="fa-arrow-circle-o-right">
    <option value="fa-arrow-circle-o-left">
    <option value="fa-toggle-left">
    <option value="fa-caret-square-o-left">
    <option value="fa-dot-circle-o">
    <option value="fa-wheelchair">
    <option value="fa-vimeo-square">
    <option value="fa-turkish-lira">
    <option value="fa-try">
    <option value="fa-plus-square-o">
    <option value="fa-space-shuttle">
    <option value="fa-slack">
    <option value="fa-envelope-square">
    <option value="fa-wordpress">
    <option value="fa-openid">
    <option value="fa-institution">
    <option value="fa-bank">
    <option value="fa-university">
    <option value="fa-mortar-board">
    <option value="fa-graduation-cap">
    <option value="fa-yahoo">
    <option value="fa-google">
    <option value="fa-reddit">
    <option value="fa-reddit-square">
    <option value="fa-stumbleupon-circle">
    <option value="fa-stumbleupon">
    <option value="fa-delicious">
    <option value="fa-digg">
    <option value="fa-pied-piper-square">
    <option value="fa-pied-piper">
    <option value="fa-pied-piper-alt">
    <option value="fa-drupal">
    <option value="fa-joomla">
    <option value="fa-language">
    <option value="fa-fax">
    <option value="fa-building">
    <option value="fa-child">
    <option value="fa-paw">
    <option value="fa-spoon">
    <option value="fa-cube">
    <option value="fa-cubes">
    <option value="fa-behance">
    <option value="fa-behance-square">
    <option value="fa-steam">
    <option value="fa-steam-square">
    <option value="fa-recycle">
    <option value="fa-automobile">
    <option value="fa-car">
    <option value="fa-cab">
    <option value="fa-taxi">
    <option value="fa-tree">
    <option value="fa-spotify">
    <option value="fa-deviantart">
    <option value="fa-soundcloud">
    <option value="fa-database">
    <option value="fa-file-pdf-o">
    <option value="fa-file-word-o">
    <option value="fa-file-excel-o">
    <option value="fa-file-powerpoint-o">
    <option value="fa-file-photo-o">
    <option value="fa-file-picture-o">
    <option value="fa-file-image-o">
    <option value="fa-file-zip-o">
    <option value="fa-file-archive-o">
    <option value="fa-file-sound-o">
    <option value="fa-file-audio-o">
    <option value="fa-file-movie-o">
    <option value="fa-file-video-o">
    <option value="fa-file-code-o">
    <option value="fa-vine">
    <option value="fa-codepen">
    <option value="fa-jsfiddle">
    <option value="fa-life-bouy">
    <option value="fa-life-saver">
    <option value="fa-support">
    <option value="fa-life-ring">
    <option value="fa-circle-o-notch">
    <option value="fa-ra">
    <option value="fa-rebel">
    <option value="fa-ge">
    <option value="fa-empire">
    <option value="fa-git-square">
    <option value="fa-git">
    <option value="fa-hacker-news">
    <option value="fa-tencent-weibo">
    <option value="fa-qq">
    <option value="fa-wechat">
    <option value="fa-weixin">
    <option value="fa-send">
    <option value="fa-paper-plane">
    <option value="fa-send-o">
    <option value="fa-paper-plane-o">
    <option value="fa-history">
    <option value="fa-circle-thin">
    <option value="fa-header">
    <option value="fa-paragraph">
    <option value="fa-sliders">
    <option value="fa-share-alt">
    <option value="fa-share-alt-square">
    <option value="fa-bomb">
    <option value="fa-angellist">
    <option value="fa-area-chart">
    <option value="fa-at">
    <option value="fa-bell-slash">
    <option value="fa-bell-slash-o">
    <option value="fa-bicycle">
    <option value="fa-binoculars">
    <option value="fa-birthday-cake">
    <option value="fa-bus">
    <option value="fa-calculator">
    <option value="fa-cc">
    <option value="fa-cc-amex">
    <option value="fa-cc-discover">
    <option value="fa-cc-mastercard">
    <option value="fa-cc-paypal">
    <option value="fa-cc-stripe">
    <option value="fa-cc-visa">
    <option value="fa-copyright">
    <option value="fa-eyedropper">
    <option value="fa-futbol-o">
    <option value="fa-google-wallet">
    <option value="fa-ils">
    <option value="fa-ioxhost">
    <option value="fa-lastfm">
    <option value="fa-lastfm-square">
    <option value="fa-line-chart">
    <option value="fa-meanpath">
    <option value="fa-newspaper-o">
    <option value="fa-paint-brush">
    <option value="fa-paypal">
    <option value="fa-pie-chart">
    <option value="fa-plug">
    <option value="fa-shekel (alias)">
    <option value="fa-sheqel (alias)">
    <option value="fa-slideshare">
    <option value="fa-soccer-ball-o (alias)">
    <option value="fa-toggle-off">
    <option value="fa-toggle-on">
    <option value="fa-trash">
    <option value="fa-tty">
    <option value="fa-twitch">
    <option value="fa-wifi">
    <option value="fa-yelp">
    <option value="angellist">
    <option value="area-chart">
    <option value="at">
    <option value="bell-slash">
    <option value="bell-slash-o">
    <option value="bicycle">
    <option value="binoculars">
    <option value="birthday-cake">
    <option value="bus">
    <option value="calculator">
    <option value="cc">
    <option value="cc-amex">
    <option value="cc-discover">
    <option value="cc-mastercard">
    <option value="cc-paypal">
    <option value="cc-stripe">
    <option value="cc-visa">
    <option value="copyright">
    <option value="eyedropper">
    <option value="futbol-o">
    <option value="google-wallet">
    <option value="ils">
    <option value="ioxhost">
    <option value="lastfm">
    <option value="lastfm-square">
    <option value="line-chart">
    <option value="meanpath">
    <option value="newspaper-o">
    <option value="paint-brush">
    <option value="paypal">
    <option value="pie-chart">
    <option value="plug">
    <option value="shekel (alias)">
    <option value="sheqel (alias)">
    <option value="slideshare">
    <option value="soccer-ball-o (alias)">
    <option value="toggle-off">
    <option value="toggle-on">
    <option value="trash">
    <option value="tty">
    <option value="twitch">
    <option value="wifi">
    <option value="yelp">
    </datalist>
    </div>
    </div>
    <div class="form-group">
        <label for="iconSize" class="col-sm-2 control-label">Icon Size</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="iconSize" placeholder="e.g. 64, 32px">
        </div>
    </div>
    <div class="form-group">
        <label for="iconColor" class="col-sm-2 control-label">Icon Color</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="iconColor"
                   placeholder="e.g. #FA1337, #CCC, green">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary btn-lg" id="generate-btn"><i
                    class="fa fa-cogs"></i> Generate Icon
            </button>

            <a class="btn btn-success btn-lg hidden" id="download-helper" href="#" download="#"><i
                    class="fa fa-cloud-download"></i> Download Icon</a>
        </div>
    </div>
    </form>
    </div>
    <div class="col-md-4 preview">
        <p>Preview</p>

        <div class="well">
            <i class="fa"></i>

            <p class="preview-size-warning hidden">(Actual file size is bigger)</p>
        </div>
        <a href="#" id="how-it-works" data-toggle="popover" data-container="body" data-placement="auto bottom"
           data-trigger="hover"
           data-content="Pick an icon at http://fontawesome.io/, remember the icon's name. Tell me the size and the color you need, click 'Generate Icon' and download the file to your disk.">How
            does it work?</a>
    </div>
    </div>
    </div>
    </article>
    <article id="interactive-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 text-muted">
                    <span>Using Font Awesome Version: {{ fa_version }}</span>
                </div>
                <div class="col-sm-5 text-muted">
                    <span>Is fa2png useful to you? <a href="#support-modal" data-toggle="modal">Support us!</a></span>
                </div>
                <div class="col-sm-2">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="jnk_wyrch">Tweet</a>
                </div>
            </div>
        </div>
    </article>
</div><!-- /masthead (layout.html) -->
<article id="misc">
    <div class="container">
        <h2>About</h2>

        <p>Hey, I'm the Font Awesome to PNG (fa2png) online generator. I'm a small web app returning <a
                href="http://fontawesome.io/">Font Awesome</a> icons as png. You can
            define the color and size of the Font Awesome icons and
            download them directly from my <a href="https://www.digitalocean.com/?refcode=db5b7d57ea35">SSD</a>.</p>

        <h2>Why?</h2>

        <p>Why am I useful you might ask? While I find your question a bit offending, let me explain anyways.
            Icon fonts are an awesome thing for obvious reasons. Amongst other things are they scalable and tweakable
            via css.
            But sometimes you need an icon in pixel form. Let's say you need this little play button image urgently
            for a presentation later this evening. In green and in 36 x 36px. You need it fast! It's a keynote at this
            awesome conference.
            You need it fast, right? You don't have Photoshop or Gimp ready? Sh#*!</p>

        <p>Don't worry, I got your back. Despite your offending question earlier! ;)</p>

        <p><b>Just pick an icon over at <a
                href="http://fontawesome.io/">Font Awesome</a>, remember the icon's name. Tell me the size and the color
            you
            need, click "Generate
            Icon" and download the file to your disk.</b></p>

        <p><b>Blog posts about me</b>:
            <a href="http://jannikweyrich.com/blog/2014/05/26/weekend-project-font-awesome-to-png.html">Post on Jannik's
                blog</a>, <a href="http://www.minddust.com/project/fa2png/">Post on Stephan's blog</a></p>

        <h2>Credits</h2>
        <ul>
            <li><a href="http://fontawesome.io/">Font Awesome</a></li>
            <li><a href="https://github.com/odyniec/font-awesome-to-png">font-awesome-to-png.py</a></li>
        </ul>
        <h2>Feedback?</h2>

        <p>Ping my creators <a href="http://twitter.com/minddust">stephan</a> or <a href="http://twitter.com/jnk_wyrch">jannik</a>.
        </p>
    </div>
</article>

<!-- ------ Support Modal ------ -->

<div class="modal fade" id="support-modal" tabindex="-1" role="dialog" aria-labelledby="support-modal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="support-modal-tile">Help pay for the fa2png server</h4>
            </div>
            <div class="modal-body">
                <p>
                    This app runs on a <a href="https://www.digitalocean.com/?refcode=db5b7d57ea35">DigitalOcean
                    server</a>. Currently it costs $5 a month (512MB, 20GB SSD). My creators pay for the server. It's
                    not as they are starving because of the huge burden to pay for it. But since it's very easy to help
                    we just wanna let you know how.
                </p>
                <p>
                    In case you need a cloud machine to develop awesome apps like
                    me consider giving DigitalOcean a try. The service really rocks! Easy to use, cheap and solid. Just
                    click on the link below, sign up and deploy your VMs. As soon as you spend $25 on your servers we
                    get a server credits worth $25 from DigitalOcean and I am payed for for another 5 months :-)
                </p>
                <p>
                    Thanks, mate.
                </p>
                <p>
                    <a href="https://www.digitalocean.com/?refcode=db5b7d57ea35" class="btn btn-primary">To DigitalOcean via fa2png's referral link</a>
                </p>
                <div class="row">
                    <div class="col-xs-1"><i class="fa fa-angellist fa-3x"></i></div>
                    <div class="col-xs-11">
                        <p> Up to now we received <strong>$10</strong> worth of credits thanks to the referrals from you. Plus we have <strong>5 pending referrals</strong>. Thanks guys!</p>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
